@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,h2,h3,h4,h5,h6 {
        scroll-margin-top: 5rem;
    }
/*
    #content {
        h1 {
            @apply text-4xl mb-4 font-semibold;
        }
    
        h2 {
            @apply text-2xl mb-2 mt-8 font-semibold;
        }
    
        p {
            @apply mb-4
        }
    
        pre {
            @apply text-sm text-balance font-mono bg-slate-200
            rounded-3xl py-8 my-4;
        }
    
        ul, ol {
            @apply mb-4 ml-6 md:ml-12
        }

        ul {
            @apply list-decimal
        }

        ol {
            @apply list-disc
        }
    
        a {
            @apply underline text-sky-500;
        }
    
        li {
            @apply pl-4
        }

        img {
            @apply mx-auto max-h-[500px] my-6
        }
    }
*/
}

@layer components {
    sup {
        /* For some reason footnote appears on top of the nav bar
        putting z-index to -10 fixes but the link doesn't work */
        z-index: 0;
    }

    .custom404 {
        color: #000; /* Fallback for older browsers */
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 2.5px #E75D2A;
      }
}
